* {
  /* margin: 0; */
  /* padding: 0;  */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Playwrite DE Grund Guides', cursive;
  font-weight: 400;
  font-style: normal;
  /* font-size: 46px; */
}

nav ul li {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-description {
  font-family: 'Eagle Lake', serif;
  font-weight: 200;
  font-style: normal;
}

h2,
h3 {
  font-family:
    Playfair Display,
    serif;
}

p {
  font-family: 'Roboto Slab', serif;
  line-height: 1.7;
}
:root {
  /* text */
  --color-body-text: #2d2d2d;

  /* primary color */
  --color-primary-dark: #bbbbbb; /* Dark Pink, for heading*/
  --color-primary-light: #bbbbbb; /* Light Pink, for heading*/

  --color-secondary: #ff9800; /* Orange */
  --color-tertiary: #4caf50; /* Green */

  /* background color */
  --color-background-dark: #181818; /* Dark Pink */
  --color-background-light: #1a1717; /* Light Pink */
}

hr {
  height: 3px; /* thickness */
  /* background: #6c0bc0; color */
  width: 80%; /* 100% - (10% left + 10% right) */
  margin: 2rem auto;
  border-radius: 2px;
}

body {
  cursor:
    url('./assets/img/cursor/arrowhead.svg') 6 6,
    auto;
}

a,
button {
  cursor:
    url('./assets/img/cursor/hand-pointer.svg') 6 6,
    auto;
}

.images-card {
  cursor:
    url('./assets/img/cursor/arrow-cursor-outline.svg') 6 6,
    auto;
}

body {
  overflow-x: hidden;
}

/* a, button{
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><rect fill="%23F0DFF0" width="100%" height="100%"/><path fill="%23FFF" stroke="%23000" stroke-width="3.25" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>');
} */

/* html{
    scroll-behavior: smooth;
    width: auto;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#root{
    width: 100%;
    height: 100vh;
} */

.app-container {
  width: 100%;
  height: 100vh;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h2 {
  color: rgb(49, 48, 48);
  transition: all 0.4s ease; /* makes it smooth */
}

h2:hover {
  color: black;
  font-weight: 500;
  /* text-decoration-line: underline;
  text-decoration-color: rgb(255, 255, 255); */
  /* transform: scale(1.05); slight zoom */
}

.container {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically if container has height */
  height: 100vh; /* optional: full viewport height */
}

.underline-animation {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px; /* spacing below text */
  height: 5px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 0; /* start hidden */
  background-color: #292929;
  transition: width 0.4s ease;
}

.underline-animation:hover::after {
  width: 100%; /* grow to full width on hover */
}

#underline-container {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically if container has height */
  /* height: 100vh;     */
}

.description p {
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-heading {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.fade-corners {
  border-radius: 16px; /* match your rounded-2xl */
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

/* bg-gradient-to-r from-black via-gray-500 bg-gray-500 text-4xl text-white  */
/* hover:border-gray-300 */
/* hover:text-gray-300 */
.action-button {
  background-color: black;
  color: white;
  padding-left: 20px;  
  padding-right: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 30px;
  transition: background-color 0.3s ease, color 03s ease
}

.action-button:hover{
  /* transform: scale(1.1) */
  background-color: #fff;
  color: black
  
}


.action-button {
  position: relative;
  overflow: hidden; /* keep the swipe inside */
  background-color: black;
  color: white;
  padding: 3px 20px;
  border: 1px solid wheat;
  font-size: 30px;
  /* border: none; */
  cursor: pointer;

  /* Smooth transition for color */
  transition: color 0.4s ease;
}

.action-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* start off the left */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg, 
    transparent, 
    rgba(255, 255, 255, 0.5), 
    transparent
  );
  transform: skewX(-20deg); /* diagonal swipe effect */
  transition: all 0.5s ease;
}

.action-button:hover::before {
  left: 100%; /* swipe to the right */
}

.action-button:hover {
  color: wheat; /* text color changes */
  background-color: rgb(32, 32, 32); /* optional if you want the bg to stay */
}


@import 'tailwindcss';

/* 7065943277 */
